
style.
	/* Mimic table appearance */
	div.table {
		display: table;
	}
	div.table .file-row {
		display: table-row;
	}
	div.table .file-row > div {
		display: table-cell;
		vertical-align: middle;
		border-top: 1px solid #ddd;
		padding: 8px;
	}
	div.table .file-row:nth-child(odd) {
		background: #f9f9f9;
	}
	
	/* The total progress gets shown by event listeners */
	.total-progress {
		opacity: 0;
		transition: opacity 0.3s linear;
	}

	/* Hide the progress bar when finished */
	.previews .file-row.dz-success .progress {
		opacity: 0;
		transition: opacity 0.3s linear;
	}
	
	/* Hide the delete button initially */
	.previews .file-row .delete {
		display: none;
	}
	
	/* Hide the start and cancel buttons and show the delete button */
	
	.previews .file-row.dz-success .start,
	.previews .file-row.dz-success .cancel {
		display: none;
	}
	.previews .file-row.dz-success .delete {
		display: block;
	}
	.dropzone {
		text-align:center;
		padding: 2em 0;
		margin-top: 8px;
		border: 2px dashed #8c8c8c;
		border-radius: 5px;
		background: #FFF none repeat scroll 0% 0%;
	}

div.row.actions
	div.col-md-8.btn-group
		button.btn.btn-success.fileinput-button
			span.glyphicon.glyphicon-plus  Add files...
		button.btn.btn-info.cancel(type="reset")
			span.glyphicon.glyphicon-ban-circle(title="Cancel upload")  Cancel
		button.btn.btn-primary.start(type="submit")
			span.glyphicon.glyphicon-upload(title="Start upload")  Upload
		
	div.col-md-4
		span.fileupload-process
			div.progress.progress-striped.active.total-progress(role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0")
				div.progress-bar.progress-bar-success(style="width:0%;" data-dz-uploadprogress)

div.dropzone.dragHereLabel(style="color:grey;")
	p Drag files here
	
div.table.table-striped.files.previews
	div.file-row.template
		div
			span.preview
				img(data-dz-thumbnail)
		div
			p.name(data-dz-name)
			strong.error.text-danger(data-dz-errormessage)
		div
			p.size(data-dz-size)
			div.progress.progress-striped.active(role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0")
				div.progress-bar.progress-bar-success(style="width:0%;" data-dz-uploadprogress)
		div.btn-group.text-right
			button.btn.btn-info.cancel(data-dz-remove)
				span.glyphicon.glyphicon-ban-circle Cancel
			button.btn.btn-primary.start
				span.glyphicon.glyphicon-upload Start
		div
			button.btn.btn-danger.delete(data-dz-remove)
				span.glyphicon.glyphicon-trash Delete