extends layout

block content
	div.container.account-wall
		#admin
			if admin.username
				h1.text-center Hello #{admin.username}
				h1.text-center Welcome home!

	div.container.text-center(style={"margin-top": "50px", padding: "4px"})
		img.img-thumbnail(src="/MainLogo.png" width="400")