doctype html
html
	head
		title Jama'ah
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1")

		//- http://getbootstrap.com/
		link(rel="stylesheet", href="/bootstrap-3.3.7/dist/css/bootstrap.min.css")
		link(rel='stylesheet', href='/css/style.css')
		

		//- script(src="https://code.jquery.com/jquery.js")
		script(src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous")

		script(src="/moment/moment.min.js")

		script(src="/bootstrap-3.3.7/js/transition.js")
		script(src="/bootstrap-3.3.7/js/collapse.js")
		script(src="/bootstrap-3.3.7/dist/js/bootstrap.min.js")


		//- http://eonasdan.github.io/bootstrap-datetimepicker
		link(rel='stylesheet', href='/bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css')
		script(src="/bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js")

		//- https://github.com/dreyescat/bootstrap-rating
		link(rel='stylesheet', href='/bootstrap-rating/bootstrap-rating.css')
		script(src="/bootstrap-rating/bootstrap-rating.min.js")

		//- http://selectize.github.io/selectize.js/
		link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.4/css/selectize.bootstrap3.min.css')
		script(src="//cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.4/js/standalone/selectize.min.js")

		//- used spinner plugin from here:
		//- http://fgnass.github.io/spin.js/
		script(src="/spinner/js/spin.min.js")
		
		//- 1000hz.github.io/bootstrap-validator
		script(src="//cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js")

		//- modal
		script(src="/js/modal.js")

	//- layout footer at the bottom of the page and at the bottom of the screen of page small then screen:
	//- http://matthewjamestaylor.com/blog/keeping-footers-at-the-bottom-of-the-page
	body
		div(style="min-height: 100%; position:relative;")
			if page != 'signin' && page != 'signup' && page != 'restore'
				include ./navbar.jade
			div.main-container
				block content
				
				div.modal#entityResultModal
					div.modal-dialog(style={'width': '100px'})
						div.modal-content(style={'height': '100px', 'margin-top': '100px', 'padding': '20px'})
							div#modalSpinner
							div.text-center.text-muted#progressText(style={'margin-top': '80%'}) . . .
							div.text-center.text-success#savedText(style={'margin-top': '90%'}) Saved
							
			if page != 'signin' && page != 'restore'
				div.footer
					div.container(style={"padding-top": "5px"})
						div.container(style={"color": "#fff"})
							p.text-center Developed for Jama'ah
							p.text-center © All rights reserved
