extends layout

mixin userTableColumnHead(colWeight, headerName, type)
	- if (colWeight > 12) colWeight = 12;
	- if (colWeight < 1) colWeight = 1;
	- var cl = 'col-sm-' + colWeight;
	th.text-center(class= cl)
		- var newSort = 1;
		- if (sort.type == type) { newSort = sort.order == 1 ? -1 : 1 };
		a.btn.btn-link(href='/locations/sort/#{type}/#{newSort}')
			strong= headerName + " "
			if (sort.type == type)
				if (sort.order == 1)
					span.glyphicon.glyphicon-sort-by-attributes
				else
					span.glyphicon.glyphicon-sort-by-attributes-alt
		
mixin userTableHF
	th.col-sm-1.text-center
		a.btn.btn-link
			strong Photo
	+userTableColumnHead(3, 'Name', 'name')
	+userTableColumnHead(2, 'Type', 'placeType')
	if admin.role == 'master'
		+userTableColumnHead(3, 'Address', 'address')
		+userTableColumnHead(2, 'Manager', 'manager')
	else
		+userTableColumnHead(5, 'Address', 'address')
	th.col-sm-1.text-center
		a.btn.btn-link: strong Action

mixin userTable()
	table.table.table-striped.table-hover
		thead
			tr.bg-info
				+userTableHF
		tfoot
			tr.bg-info
				+userTableHF
		tbody
			tr
				form(action='/locations/filter', method='POST')
					td.col-sm-1.text-center
						input.form-control.input-sm.text-center(type="text" name="photo" value='' disabled)
					td.col-sm-3
						input.form-control.input-sm.text-center(type="text" name="name" value= filter.name ? filter.name : '')
					td.col-sm-2
						input.form-control.input-sm.text-center(type="text" name="placeType" value= filter.placeType ? filter.placeType : '')
					if admin.role == 'master'
						td.col-sm-3
							input.form-control.input-sm.text-center(type="text" name="address" value= filter.address ? filter.address : '')
						td.col-sm-2
							input.form-control.input-sm.text-center(type="text" name="manager" value= filter.manager ? filter.manager : '')
					else
						td.col-sm-5
							input.form-control.input-sm.text-center(type="text" name="address" value= filter.address ? filter.address : '')
					
					td.col-sm-1.text-center
						button.btn.btn-link(type="submit"): span.glyphicon.glyphicon-filter(style={margin: "-15px", padding: "0px"})
						a.btn.btn-link(href="/locations/filter/clear"): span.glyphicon.glyphicon-remove(style={margin: "-15px", padding: "0px"})

			if locations.length > 0
				- each entity in locations
					tr.editable-row(style={cursor: 'pointer'} entityId= entity._id)
						td.col-sm-1.text-center
							- var photoUrl = (entity.photo && entity.photo.length) ? '/images/locations/' + entity.photo : "/LocationMarker.png";
							img.img-circle(width="30" height="30" src='#{photoUrl}')

						td.col-sm-3.text-center(style={'vertical-align': 'middle'})= entity.name
						td.col-sm-2.text-center(style={'vertical-align': 'middle'})= entity.placeType
						if admin.role == 'master'
							td.col-sm-3.text-center(style={'vertical-align': 'middle'})= entity.location.address
							td.col-sm-2.text-center(style={'vertical-align': 'middle'})= entity.managerUsername
						else
							td.col-sm-5.text-center(style={'vertical-align': 'middle'})= entity.location.address

						td.col-sm-1.text-center(style={'vertical-align': 'middle'})
							a.btn.btn-sm.edit-button(href='#' entityId= entity._id)
								span.glyphicon.glyphicon-pencil(style={margin: "-15px", padding: "0px"})
							if admin.role == 'master'
								a.btn.btn-sm.delete-button(href='#', entityId= entity._id)
									span.glyphicon.glyphicon-trash(style={margin: "-15px", padding: "0px"})
			else
				tr
					td.col-sm-12.text-center(style={'vertical-align': 'middle', 'color': 'grey'} colspan='6') No Data


block content
	div.container
		h1.text-center Locations

		if message.length > 0
			div.alert.alert-danger.text-center(style={margin: "40px auto auto auto"})
				p #{message}

		if admin.role == 'master'
			div(style="margin-top:10px; margin-bottom:10px")
				table(style="border:none; width:100%;")
					tr
						td.text-right
							a.btn.btn-primary(href="/locations/location") +
		
		div#locations
				+userTable()
			div.text-center
				ul.pagination
						li(class= pagination.page == 1 ? "disabled" : "normal")
							- var prevPage = pagination.page - 1;
							if prevPage >= 1
								a(href="/locations/page/#{prevPage}") <
							else
								span <
						- for(var i = 1; i <= pagination.count; ++i)
							li(class = pagination.page == i ? "active" : "normal")
								a(href="/locations/page/#{i}")= i
						li(class= pagination.page < pagination.count ? "normal" : "disabled")
							- var nextPage = pagination.page; ++nextPage;
							if nextPage <= pagination.count
								a(href="/locations/page/#{nextPage}") >
							else
								span >

	script.
		function editEntity(event, element) {
			event.preventDefault();
			event.stopPropagation();
			var entityId = element.attr('entityId');
			if(entityId)
			{
				location.replace('/locations/location/' + entityId);
			}
		}
		$('edit-button').on('click', function(event) {
			editEntity(event, $(this));
		});
		$('.table > tbody > tr.editable-row').on('click', function(event) {
			editEntity(event, $(this));
		});
		$('.delete-button').on('click', function(event) {
			event.preventDefault();
			event.stopPropagation();
			var result = confirm('Are you sure?');
			if (result)
			{
				var entityId = $(this).attr('entityId');
				location.replace('/locations/delete?id=' + entityId);
			}
		});
