- var name = (location) ? (location.name ? location.name : '') : ('');
- var address = (location) ? (location.location ? location.location.address : '') : ('');
- var type = (location) ? (location.placeType ? location.placeType : '') : ('');
- var timeOpen = (location) ? (location.timeOpen ? location.timeOpen : '') : ('');
- var timeClose = (location) ? (location.timeClose ? location.timeClose : '') : ('');
- var alwaysOpen = (location) ? (location.alwaysOpen) : (false);
- var managerUsername = (location) ? (location.managerUsername ? location.managerUsername : '') : ('');

form#locationForm(class='form-settings' data-toggle='validator' role='form' data-disable='false')
	div.row
		div.col-sm-6
			div.general-wall
				div.form-group
					label(for='name') Name:
					div.input-group
						a.input-group-addon.btn(role="button" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Name of the Location")
							span.glyphicon.glyphicon-question-sign
						input(type='text', id='name', name='name', class='form-control', placeholder='Location name', required, value="#{name}" maxlength="128")
					div.help-block.with-errors

				div.form-group
					label(for='type') Type:
					select.form-control(name="placeType", id="placeType")
						option(value='mosque', selected= type == 'mosque') Mosque
						option(value='room', selected= type == 'room') Room
						option(value='chapel', selected= type == 'chapel') Chapel
						option(value='other', selected= type == 'other') Other

				if admin.role == 'master'
					div.form-group
						label(for='manager') Manager:
						select.form-control(id="manager", name="manager", placeholder='Type text to start searching of managers' required)
							option(value= managerUsername, selected)= managerUsername
						div.help-block.with-errors
				else
					input(type='text', id="manager", name="manager", value= managerUsername, hidden)

				div.form-group
					div.checkbox
						label(for='alwaysOpen')
							input(type="checkbox" id='alwaysOpen' name='alwaysOpen' checked= alwaysOpen ? 'checked' : undefined)
							|	Always open
				
				fieldset#openCloseTimeSet(disabled= alwaysOpen ? 'disabled' : undefined)
					div.form-group
						label(for='startDate') Open time:
						div.input-group.col-md-12.date.form_datetime
							a.input-group-addon.btn(role="button" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Open time of the location")
								span.glyphicon.glyphicon-question-sign
							input.form-control(type="text", id="timeOpen", name="timeOpen", placeholder='Open time', value="#{timeOpen}")
							span.input-group-addon
								span.glyphicon.glyphicon-calendar
					div.form-group
						label(for='startDate') Close time:
						div.input-group.col-md-12.date.form_datetime
							a.input-group-addon.btn(role="button" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Close time of the location")
								span.glyphicon.glyphicon-question-sign
							input.form-control(type="text", id="timeClose", name="timeClose", placeholder='Close time', value="#{timeClose}")
							span.input-group-addon
								span.glyphicon.glyphicon-calendar
			

				if location
					- var id = location.id ? location.id : '';
					input(type='text', id="id", name="id", value= id, hidden)

		div.col-sm-6
			div.general-wall
				div.form-group(style={'margin-top': "15px"})
					label(for='searchAddress') Address:
					div.input-group
						a.input-group-addon.btn(role="button" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Address to search location")
							span.glyphicon.glyphicon-question-sign
						input(type='text', id='searchAddress', name='searchAddress', class='form-control', placeholder='Search address', required, value="#{address}" onkeypress="return event.keyCode != 13;" data-validate="true")
						span.input-group-addon
							span.glyphicon.glyphicon-search#searchAddressButton

				div#map(style={width: "100%", height: "400px"})
				
	div.row(style={'margin-top': "20px"})
		div.col-sm-6.col-sm-offset-3
			div.form-group
				button.btn.btn-lg.btn-primary.btn-block#saveGeneralSubmit(type='submit')
					span.glyphicon.glyphicon-save  Save


script(type="text/javascript").
	$('.form_datetime').datetimepicker({
		format: "hh:mm A",
		stepping: 5
	});

script(type="text/javascript").
	$('[data-toggle="popover"]').popover()

script(type='text/javascript').
	function tryToDelete(locationId)
	{
		var result = confirm('Are you sure?');
		if (result)
		{
			location.replace('/locations/delete?id=' + locationId);
		}
	}

if location && location.location && location.location.coordinate
	script.
		var prayerLocationGeneral = {
			name: "#{location.name}",
			prayerType: "#{location.prayerType}",
			timeOpen: "#{location.timeOpen}",
			timeClose: "#{location.timeClose}",
			lat: "#{location.location.coordinate[1]}",
			lng: "#{location.location.coordinate[0]}",
			address: "#{location.location.address}"
		};
else
	script.
		var prayerLocationGeneral = null;

script.
	var adminRole = "#{admin.role}";

script(type="text/javascript" src='/prayTimes/PrayTimes.js')
script(type="text/javascript" src='/moment/moment.min.js')
script(type="text/javascript" src="/js/locationGeneral.js")
script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB57jRu5ubXiliu2Mr6HAXQBM6urc8Zanw&libraries=places&callback=initMap")
