mixin formGroupTime(fieldId, title, tip, placeholder, value)
	div.form-group
		label(for= fieldId)= title
		div.input-group.date.form_datetime.col-md-12
			a.input-group-addon.btn(role="button" data-toggle="popover" data-placement="top" data-trigger="hover" data-content= tip)
				span.glyphicon.glyphicon-question-sign
			input.form-control(type="text", id= fieldId, name= fieldId, placeholder= placeholder, value= value)
			span.input-group-addon
				span.glyphicon.glyphicon-calendar
		div.help-block(id= fieldId + 'Help')

div.row
	div.col-sm-6.col-sm-offset-3
		div.general-wall
			//- var actionUrl = '/v1/locations/' + (location ? location.id : '') + '/prayertimes';
			form#scheduleForm(class='form-settings' action= actionUrl method='POST')
		
				- value = (location) ? (location.timeFajrStart ? location.timeFajrStart : '') : ('');
				+formGroupTime('timeFajrStart', 'Fajr starts at:', 'Time of Fajr starting', 'Fajr starts', value)
				- value = (location) ? (location.timeFajrIqamah ? location.timeFajrIqamah : '') : ('');
				+formGroupTime('timeFajrIqamah', 'Fajr iqamah starts at:', 'Time of Fajr iqamah', 'Fajr iqamah', value)
				
				- value = (location) ? (location.timeDhuhrStart ? location.timeDhuhrStart : '') : ('');
				+formGroupTime('timeDhuhrStart', 'Dhuhr starts at:', 'Time of Dhuhr starting', 'Dhuhr starts', value)
				- value = (location) ? (location.timeDhuhrIqamah ? location.timeDhuhrIqamah : '') : ('');
				+formGroupTime('timeDhuhrIqamah', 'Dhuhr iqamah starts at:', 'Time of Dhuhr iqamah', 'Dhuhr iqamah', value)

				- value = (location) ? (location.timeAsrStart ? location.timeAsrStart : '') : ('');
				+formGroupTime('timeAsrStart', 'Asr starts at:', 'Time of Asr starting', 'Asr starts', value)
				- value = (location) ? (location.timeAsrIqamah ? location.timeAsrIqamah : '') : ('');
				+formGroupTime('timeAsrIqamah', 'Asr iqamah starts at:', 'Time of Asr iqamah', 'Asr iqamah', value)

				- value = (location) ? (location.timeMaghribStart ? location.timeMaghribStart : '') : ('');
				+formGroupTime('timeMaghribStart', 'Maghrib starts at:', 'Time of Maghrib starting', 'Maghrib starts', value)
				- value = (location) ? (location.timeMaghribIqamah ? location.timeMaghribIqamah : '') : ('');
				+formGroupTime('timeMaghribIqamah', 'Maghrib iqamah starts at:', 'Time of Maghrib iqamah', 'Maghrib iqamah', value)

				- value = (location) ? (location.timeIshaStart ? location.timeIshaStart : '') : ('');
				+formGroupTime('timeIshaStart', 'Isha starts at:', 'Time of Isha starting', 'Isha starts', value)
				- value = (location) ? (location.timeIshaIqamah ? location.timeIshaIqamah : '') : ('');
				+formGroupTime('timeIshaIqamah', 'Isha iqamah starts at:', 'Time of Isha iqamah', 'Isha iqamah', value)
				
				if location
					- var id = location.id ? location.id : '';
					input(type='text', id="id", name="id", value= id, hidden)

				div.form-group
					div.row
						div.col-sm-12
							button.btn.btn-lg.btn-primary.btn-block#scheduleSubmit(type='submit')
								span.glyphicon.glyphicon-save  Save
div.row
	div.col-sm-12.text-center
		div.help-block#calckMethodInfo
				

script(type="text/javascript").
	$('.form_datetime').datetimepicker({
		format: "hh:mm A",
		stepping: 1
	});

script(type="text/javascript").
	$('[data-toggle="popover"]').popover()

script(type="text/javascript" src='/prayTimes/PrayTimes.js')
script(type="text/javascript" src='/moment/moment.min.js')
script(type="text/javascript" src='/js/locationSchedule.js')
