extends layout

mixin tabItem(forceActive, tabName, icon, title)
	- var relatedBlock = tabName;
	if location || forceActive
		li(role="presentation" class= tab == tabName ? 'active' : '')
			a(role="tab" data-toggle="tab" aria-controls= relatedBlock href= "#" + relatedBlock)
				span.glyphicon(class= icon)= ' ' + title
	else
		li.disabled(role="presentation" class= '')
			a(role="tab" aria-controls= relatedBlock)
				span.glyphicon(class= icon)= ' ' + title
	
block content	
	div.container
		h1.text-center Location

		if message && message.length > 0
			div.alert.alert-danger.text-center(style={margin: "40px auto auto auto"})
				p #{message}
		
		if location && admin.role == 'master'
			div.row
				div.col-sm-12.text-right
					a.btn.btn-lg.btn-danger(href='#' onclick='tryToDelete("#{location.id.toString()}")') Delete

		ul.nav.nav-tabs#locationTabs(role="tablist")
			+tabItem(true, 'general', 'glyphicon-briefcase', 'General')
			+tabItem(false, 'photos', 'glyphicon-picture', 'Photos')
			+tabItem(false, 'schedule', 'glyphicon-time', 'Schedule')

		div.tab-content(style="padding-top: 20px;")
			div.tab-pane(role="tabpanel" id="general" class= tab == 'general' ? 'active' : '')
				include ./locationGeneralView.jade
			div.tab-pane(role="tabpanel" id="photos" class= tab == 'photos' ? 'active' : '')
				include ./locationPhotoView.jade
			div.tab-pane(role="tabpanel" id="schedule" class= tab == 'schedule' ? 'active' : '')
				include ./locationScheduleView.jade


	script(type='text/javascript').
		function tryToDelete(locationId)
		{
			var result = confirm('Are you sure?');
			if (result)
			{
				location.replace('/locations/delete?id=' + locationId);
			}
		}
			