div.row
	div.col-sm-8.col-sm-offset-2
		div.account-wall(style="padding: 20px;")
			label Main photo:
			div.row#uploadMainImage(style="margin-top:12px;")
				div.col-md-12
					include ./dropzoneTemplate.jade
					hr
			div.row(style="margin-top: 10px;")
				div.col-md-12
					table#mainImageTable
						tbody
							tr
								td(style="height: 38px")#spinnerMainImage
			div#mosqueLogoBlock.hidden
				label Mosque logo:
				div.row#uploadMosqueImage(style="margin-top:12px;")
					div.col-md-12
						include ./dropzoneTemplate.jade
						hr
				div.row(style="margin-top: 10px;")
					div.col-md-12
						table#mosqueImageTable
							tbody
								tr
									td(style="height: 38px")#spinnerMosqueImage


//- Used plagin:
//- http://www.dropzonejs.com
script(type="text/javascript" src='/js/dropzone.js')

script(type="text/javascript" src='/js/locationPhoto.js')

if location
	script(type="text/javascript").
		var photo = "#{location.photo}";
		var mosqueLogo = "#{location.mosqueLogo}";
else
	script(type="text/javascript").
		var photo = null;
		var mosqueLogo = null;


script(type="text/javascript").
	var uploadUrl = '/v1/locations/' + $('#id').val() + '/photo';
	var downloadUrl = '/v1/locations/' + $('#id').val() + '/photo';
	configureFilesUploader('#uploadMainImage', 1, uploadUrl, downloadUrl, function(response) {
		photo = response.data;
		updateMainImageTable(response.data);
	});
	
	uploadUrl = '/v1/locations/' + $('#id').val() + '/mosquelogo';
	downloadUrl = '/v1/locations/' + $('#id').val() + '/mosquelogo';
	configureFilesUploader('#uploadMosqueImage', 1, uploadUrl, downloadUrl, function(response) {
		mosqueLogo = response.data;
		updateMosqueImageTable(response.data);
	});
