extends layout

block content
	div.container
		h1.text-center Locations Map

		if message.length > 0
			div.alert.alert-danger.text-center(style={margin: "40px auto auto auto"})
				p #{message}
		
		div.row
			div.col-sm-12
				div#map(style={width: "100%", height: "calc(100vh - 230px)"})
					
	//- https://developers.google.com/maps/documentation/javascript/marker-clustering
	script(src="/markerclusterer/js/markerclusterer.js")

	script(type="text/javascript" src="/js/locationsMap.js")
	script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB57jRu5ubXiliu2Mr6HAXQBM6urc8Zanw&libraries=places&callback=initMap")
		