extends layout

mixin userTableColumnHead(colWeight, headerName, type)
	- if (colWeight > 12) colWeight = 12;
	- if (colWeight < 1) colWeight = 1;
	- var cl = 'col-sm-' + colWeight;
	th.text-center(class= cl)
		- var newSort = 1;
		- if (sort.type == type) { newSort = sort.order == 1 ? -1 : 1 };
		a.btn.btn-link(href='/managers/sort/#{type}/#{newSort}')
			strong= headerName + " "
			if (sort.type == type)
				if (sort.order == 1)
					span.glyphicon.glyphicon-sort-by-attributes
				else
					span.glyphicon.glyphicon-sort-by-attributes-alt
		
mixin userTableHF
	+userTableColumnHead(11, 'Username', 'username')
	th.col-sm-1.text-center
		a.btn.btn-link: strong Action

mixin userTable()
	table.table.table-striped.table-hover
		thead
			tr.bg-info
				+userTableHF
		tfoot
			tr.bg-info
				+userTableHF
		tbody
			tr
				form(action='/managers/filter', method='POST')
					td.col-sm-11
						input.form-control.input-sm.text-left(type="text" name="username" value= filter.username ? filter.username : '')
					td.col-sm-1.text-center
						button.btn.btn-link(type="submit"): span.glyphicon.glyphicon-filter(style={margin: "-15px", padding: "0px"})
						a.btn.btn-link(href="/managers/filter/clear"): span.glyphicon.glyphicon-remove(style={margin: "-15px", padding: "0px"})

			if managers.length > 0
				- each entity in managers
					tr.editable-row(style={cursor: 'pointer'} entityId= entity._id)
						td.col-sm-11.text-left(style={'vertical-align': 'middle'})= entity.username
						td.col-sm-1.text-center(style={'vertical-align': 'middle'})
							a.btn.btn-sm.edit-button(href='#' entityId= entity._id)
								span.glyphicon.glyphicon-pencil(style={margin: "-15px", padding: "0px"})
							a.btn.btn-sm.delete-button(href='#', entityId= entity._id)
								span.glyphicon.glyphicon-trash(style={margin: "-15px", padding: "0px"})
			else
				tr
					td.col-sm-12.text-center(style={'vertical-align': 'middle', 'color': 'grey'} colspan='2') No Data


block content
	div.container
		h1.text-center Managers

		if message.length > 0
			div.alert.alert-danger.text-center(style={margin: "40px auto auto auto"})
				p #{message}

		div(style="margin-top:10px; margin-bottom:10px")
			table(style="border:none; width:100%;")
				tr
					td.text-right
						a.btn.btn-primary(href="/managers/manager") +
		
		div#managers
				+userTable()
			div.text-center
				ul.pagination
						li(class= pagination.page == 1 ? "disabled" : "normal")
							- var prevPage = pagination.page - 1;
							if prevPage >= 1
								a(href="/managers/page/#{prevPage}") <
							else
								span <
						- for(var i = 1; i <= pagination.count; ++i)
							li(class = pagination.page == i ? "active" : "normal")
								a(href="/managers/page/#{i}")= i
						li(class= pagination.page < pagination.count ? "normal" : "disabled")
							- var nextPage = pagination.page; ++nextPage;
							if nextPage <= pagination.count
								a(href="/managers/page/#{nextPage}") >
							else
								span >

	script.
		function editEntity(event, element) {
			event.preventDefault();
			event.stopPropagation();
			var entityId = element.attr('entityId');
			if(entityId)
			{
				location.replace('/managers/manager/' + entityId);
			}
		}
		$('edit-button').on('click', function(event) {
			editEntity(event, $(this));
		});
		$('.table > tbody > tr.editable-row').on('click', function(event) {
			editEntity(event, $(this));
		});
		$('.delete-button').on('click', function(event) {
			event.preventDefault();
			event.stopPropagation();
			var result = confirm('Are you sure?');
			if (result)
			{
				var entityId = $(this).attr('entityId');
				location.replace('/managers/delete?id=' + entityId);
			}
		});
