extends layout

block content	
	div.container
		h1.text-center Manager

		if message && message.length > 0
			div.alert.alert-danger.text-center(style={margin: "40px auto auto auto"})
				p #{message}
		
		- var username = (manager) ? (manager.username ? manager.username : '') : ('');

		if manager
			div.row
				div.col-sm-12.text-right
					a.btn.btn-lg.btn-danger(href='#' onclick='tryToDelete("#{manager.id.toString()}")') Delete

		div.row
			div.col-sm-6.col-sm-offset-3.col-md-6.col-md-offset-3

				div.account-wall
					form#managerForm(class='form-settings', action='/managers/manager', method='POST' data-toggle='validator' role='form')
						div.form-group
							div.form-group
								label(for='username') Username:
								div.input-group
									a.input-group-addon.btn(role="button" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Name of the manager. Value should be unique.")
										span.glyphicon.glyphicon-question-sign
									if manager
										input(type='text', id='username', name='username', class='form-control', placeholder='Username', required, value="#{username}" readonly)
									else
										input(type='text', id='username', name='username', class='form-control', placeholder='Username', required, maxlength='128', value="#{username}" autofocus data-remote='/managers/manager/validate')
								div.help-block.with-errors#deleteMe

							div.form-group
								label(for='password') Password:
								div.input-group
									a.input-group-addon.btn(role="button" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Password of the manager.")
										span.glyphicon.glyphicon-question-sign
									input(type='password', id='password', name='password', class='form-control signup-pwd', placeholder='Password', required, data-minlength='6', maxlength='32', value="")
								div.help-block Minimum of 6 characters
								
							div.form-group
								label(for='password2') Confirm Password:
								div.input-group
									a.input-group-addon.btn(role="button" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="Confirm password.")
										span.glyphicon.glyphicon-question-sign
									input(type='password', id='password2', name='password2', class='form-control signup-pwd', placeholder='Confirm password', required, data-match='#password', value="")
								div.help-block.with-errors

							if manager
								- var id = manager ? manager.id : '';
								input(type='text', name='id' value= id hidden)

						div.form-group
							button.btn.btn-lg.btn-primary.btn-block(type='submit' id="submit")
								span.glyphicon.glyphicon-save  Save

	script(type="text/javascript").
		$('[data-toggle="popover"]').popover()
		
	script(type='text/javascript').
		function tryToDelete(managerId)
		{
			var result = confirm('Are you sure?');
			if (result)
			{
				location.replace('/managers/delete?id=' + managerId);
			}
		}
		
		// to prevent show remote validation of username after submition
		$('#managerForm').validator().on('submit', function(event) {
			if(event.isDefaultPrevented())
				return;
			
			$('#deleteMe').remove();
			$('#managerForm').validator('destroy');
			// $('#username').prop('data-validate', false);
			// $('#managerForm').validator('update');
		});
