nav(class="navbar navbar-inverse navbar-fixed-top")
	div.container-fluid
		div.navbar-header
			div.navbar-brand
				img.img-rounded(src="/MainLogo.png", style={width: "40px", "margin-top": "-12px"})
		ul.nav.navbar-nav
			if admin.role == 'master'
				li(class= page == 'managers' ? 'active' : 'normal'): a(href="/managers") Managers
				li.dropdown(class= page == 'locations' ? 'active' : 'normal')
					a.dropdown-toggle(href="#" data-toggle='dropdown') Locations
						span.caret
					ul.dropdown-menu
						li(class= subpage == 'locationsList' ? 'active' : 'normal'): a(href="/locations") List
						li(class= subpage == 'locationsMap' ? 'active' : 'normal'): a(href="/locationsMap") Map
				li(class= page == 'reports' ? 'active' : 'normal'): a(href="/reports") Reports
			else
				li(class= page == 'locations' ? 'active' : 'normal'): a(href="/locations") Locations
		ul.nav.navbar-nav.navbar-right
			//- li: a(href='/account')
			li: a(href='#')
				span.glyphicon.glyphicon-user!= " "  + admin.username
			li: a(href='/signout') Logout
