
mixin infoBlock(title, value)
	div(style={'margin-top': '20px'})
		p
			span
				b= title + ":"
		if value
			p(style={'margin-left': '20px'})= value
	
div.row
	div.col-sm-6
		div.general-wall
			if reportedSpot.spot.photo
				div.text-center
					img.img-thumbnail(src='/images/spots/' + reportedSpot.spot.photo)
			+infoBlock("Description", reportedSpot.spot.description)
			+infoBlock("Owner", reportedSpot.spot.owner.fullName)
			+infoBlock("Created", reportedSpot.spot.createdFormatted)
			+infoBlock("Avarage rate", null)
			div(style={'margin-left': '20px'})
				input.rating(type="text" hidden data-readonly value= reportedSpot.spot.averageRate)
				span.label.label-default(style={'margin-left': '10px'})= +reportedSpot.spot.averageRate.toFixed(2)
			hr
			div.panel.panel-default
				div.panel-heading
					h3.panel-title
						a(data-toggle="collapse" href="#reviewsBlock") Reviews (#{reportedSpot.spot.reviews.length})
				div.panel-body.collapse#reviewsBlock
					if reportedSpot.spot.reviews && reportedSpot.spot.reviews.length > 0
						- each review in reportedSpot.spot.reviews
							div.row.reviewBlock
								div.col-sm-1
									- var photoUrl = (review.reviewer.avatar && review.reviewer.avatar.length) ? '/images/users/' + review.reviewer.avatar : '/AvatarPlaceholder.png';
									img.img-circle(width="30" height="30" src='#{photoUrl}' style={'margin-top': '5px'})
								div.col-sm-11
									div.row.reviewTitle
										div.col-sm-8
											span
												b= review.reviewer.fullName
											span.reviewDate= review.createdFormatted
										div.col-sm-4.text-right
											span.label.label-default(style={'margin-right': '10px'})= +review.rate.toFixed(2)
											input.rating(type="text" hidden data-readonly value= review.rate)
									div.row.reviewComment
										div.col-sm-12= review.comment
					else
						div.row
							div.col-sm-12
								div.text-center(style={'vertical-align': 'middle', 'color': 'grey'}) No Data
				
			
						
	div.col-sm-6
		div.general-wall
			+infoBlock("Address", reportedSpot.spot.location.address)
			div#map(style={width: "100%", height: "400px"})
			
script.
	var spot = {
		location: {
			coordinate: {
				lat: "#{reportedSpot.spot.location.coordinate[1]}",
				lng: "#{reportedSpot.spot.location.coordinate[0]}"
			},
			address: "#{reportedSpot.spot.location.address}"
		}
		
	};
	 

script(type="text/javascript" src="/js/reportSpot.js")
script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB57jRu5ubXiliu2Mr6HAXQBM6urc8Zanw&libraries=places&callback=initMap")
