extends layout

block content	
	div.container
		h1.text-center Report

		if message && message.length > 0
			div.alert.alert-danger.text-center(style={margin: "40px auto auto auto"})
				p #{message}
		
		div.row
			div.col-sm-12.text-right
				div.btn-group
					a.btn.btn-lg.btn-primary(href='#' onclick='tryToClose("#{reportedSpot.id.toString()}")') Close Report
					a.btn.btn-lg.btn-danger(href='#' onclick='tryToDelete("#{reportedSpot.id.toString()}", "#{reportedSpot.spot.id.toString()}")') Delete Spot

		div.row
			div.col-sm-12
				ul.nav.nav-tabs#reportTabs(role="tablist")
					li(role="presentation" class= tab == 'spot' ? 'active' : '')
						a(role="tab" data-toggle="tab" aria-controls='spot' href= "#spot")
							span.glyphicon.glyphicon-briefcase= ' ' + 'Spot'
					li(role="presentation" class= tab == 'reports' ? 'active' : '')
						a(role="tab" data-toggle="tab" aria-controls='reports' href= "#reports")
							span.glyphicon.glyphicon-briefcase= ' ' + 'Reports'

				div.tab-content(style="padding-top: 20px;")
					div.tab-pane(role="tabpanel" id="spot" class= tab == 'spot' ? 'active' : '')
						include ./reportSpotView.jade
					div.tab-pane(role="tabpanel" id="reports" class= tab == 'reports' ? 'active' : '')
						include ./reportReportsView.jade

	script(type='text/javascript').
		function tryToDelete(reportId, spotId)
		{
			var result = confirm('Are you sure, you want to delete current Spot?');
			if (result)
			{
				location.replace('/reports/deletespot?spotId='+spotId+'&reportId='+reportId);
			}
		}
		function tryToClose(reportId)
		{
			var result = confirm('Are you sure, you want to close current Report?');
			if (result)
			{
				location.replace('/reports/delete?id=' + reportId);
			}
		}
	