extends layout

mixin userTableColumnHead(colWeight, headerName, type)
	- if (colWeight > 12) colWeight = 12;
	- if (colWeight < 1) colWeight = 1;
	- var cl = 'col-sm-' + colWeight;
	th.text-center(class= cl)
		- var newSort = 1;
		- if (sort.type == type) { newSort = sort.order == 1 ? -1 : 1 };
		a.btn.btn-link(href='/reports/sort/#{type}/#{newSort}')
			strong= headerName + " "
			if (sort.type == type)
				if (sort.order == 1)
					span.glyphicon.glyphicon-sort-by-attributes
				else
					span.glyphicon.glyphicon-sort-by-attributes-alt
		
mixin userTableHF
	th.col-sm-1.text-center
		a.btn.btn-link
			strong Photo
	+userTableColumnHead(2, 'Owner', 'owner')
	+userTableColumnHead(4, 'Address', 'address')
	+userTableColumnHead(1, 'Reviews', 'reviewsCount')
	+userTableColumnHead(2, 'Rate', 'rate')
	+userTableColumnHead(1, 'Reports', 'reportsCount')
	th.col-sm-1.text-center
		a.btn.btn-link: strong Action

mixin userTable()
	table.table.table-striped.table-hover
		thead
			tr.bg-info
				+userTableHF
		tfoot
			tr.bg-info
				+userTableHF
		tbody
			tr
				form(action='/reports/filter', method='POST')
					td.col-sm-1.text-center
						input.form-control.input-sm.text-center(type="text" name="photo" value='' disabled)
					td.col-sm-2
						input.form-control.input-sm.text-center(type="text" name="owner" value= filter.owner ? filter.owner : '')
					td.col-sm-4
						input.form-control.input-sm.text-center(type="text" name="address" value= filter.address ? filter.address : '')
					td.col-sm-1
						input.form-control.input-sm.text-center(type="text" name="reviewsCount" value= filter.reviewsCount ? filter.reviewsCount : '')
					td.col-sm-2
						input.form-control.input-sm.text-center(type="text" name="rate" value= filter.rate ? filter.rate : '')
					td.col-sm-1
						input.form-control.input-sm.text-center(type="text" name="reportsCount" value= filter.reportsCount ? filter.reportsCount : '')

					td.col-sm-1.text-center
						button.btn.btn-link(type="submit"): span.glyphicon.glyphicon-filter(style={margin: "-15px", padding: "0px"})
						a.btn.btn-link(href="/reports/filter/clear"): span.glyphicon.glyphicon-remove(style={margin: "-15px", padding: "0px"})

			if reportedSpots.length > 0
				- each entity in reportedSpots
					tr.editable-row(style={cursor: 'pointer'} entityId= entity._id)
						td.col-sm-1.text-center
							- var photoUrl = (entity.photo && entity.photo.length) ? '/images/reports/' + entity.photo : "/SpotMarker.png";
							img.img-circle(width="30" height="30" src='#{photoUrl}')

						td.col-sm-2.text-center(style={'vertical-align': 'middle'})= entity.spot.owner.fullName
						td.col-sm-4.text-center(style={'vertical-align': 'middle'})= entity.spot.location.address
						td.col-sm-1.text-center(style={'vertical-align': 'middle'})= entity.spot.reviewsCount
						td.col-sm-2.text-center(style={'vertical-align': 'middle'})
							div(style={'vertical-align': 'middle'})
								input.rating(type="text" hidden data-readonly value= entity.spot.averageRate)
								span.label.label-default(style={'margin-left': '10px'})= +entity.spot.averageRate.toFixed(2)
						td.col-sm-1.text-center(style={'vertical-align': 'middle'})= entity.reportsCount

						td.col-sm-1.text-center(style={'vertical-align': 'middle'})
							a.btn.btn-sm.edit-button(href='#' entityId= entity._id)
								span.glyphicon.glyphicon-pencil(style2={margin: "-15px", padding: "0px"})
			else
				tr
					td.col-sm-12.text-center(style={'vertical-align': 'middle', 'color': 'grey'} colspan='7') No Data


block content
	div.container
		h1.text-center Reports

		if message.length > 0
			div.alert.alert-danger.text-center(style={margin: "40px auto auto auto"})
				p #{message}
		
		div#locations
				+userTable()
			div.text-center
				ul.pagination
						li(class= pagination.page == 1 ? "disabled" : "normal")
							- var prevPage = pagination.page - 1;
							if prevPage >= 1
								a(href="/reports/page/#{prevPage}") <
							else
								span <
						- for(var i = 1; i <= pagination.count; ++i)
							li(class = pagination.page == i ? "active" : "normal")
								a(href="/reports/page/#{i}")= i
						li(class= pagination.page < pagination.count ? "normal" : "disabled")
							- var nextPage = pagination.page; ++nextPage;
							if nextPage <= pagination.count
								a(href="/reports/page/#{nextPage}") >
							else
								span >

	script.
		function editEntity(event, element) {
			event.preventDefault();
			event.stopPropagation();
			var entityId = element.attr('entityId');
			if(entityId)
			{
				location.replace('/reports/report/' + entityId);
			}
		}
		$('edit-button').on('click', function(event) {
			editEntity(event, $(this));
		});
		$('.table > tbody > tr.editable-row').on('click', function(event) {
			editEntity(event, $(this));
		});