if message.length > 0
	div.alert.alert-danger.text-center(style={margin: "40px auto auto auto"})
		p #{message}

div.row
	div.col-sm-12
		- each report in reportedSpot.reports
			div.row.reviewBlock
				div.col-sm-1
					- var photoUrl = (report.reporter.avatar && report.reporter.avatar.length) ? '/images/users/' + report.reporter.avatar : '/AvatarPlaceholder.png';
					img.img-circle(width="30" height="30" src='#{photoUrl}' style={'margin-top': '5px'})
				div.col-sm-11
					div.row.reviewTitle
						div.col-sm-12
							span
								b= report.reporter.fullName
							span.reviewDate= report.createdFormatted
					div.row.reviewComment
						div.col-sm-12= report.reason
