extends layout

block content
	div.container(style={"margin-top": "20px"})
		center: img.img-rounded(src="/MainLogo.png", style={height: "160px", width: "auto", margin: "auto"})
		div.row
			div.col-sm-6.col-sm-offset-3.col-md-4.col-md-offset-4
				h1.login-title Jama'ah
				div.account-wall
					h4.text-center Your Password has been successfully changed.

				if message.length > 0
					div.alert.alert-danger.text-center(style={margin: "40px auto auto auto"})
						p #{message}