extends layout

block content
	div.container(style={"margin-top": "20px"})
		center: img.img-rounded(src="/MainLogo.png", style={height: "160px", width: "auto", margin: "auto"})
		div.row
			div.col-sm-6.col-sm-offset-3.col-md-4.col-md-offset-4
				h1.login-title Jama'ah
				div.account-wall
					h4.text-center Restore password
					form(class='form-signin', action='/restore', method='POST')
						div.form-group
							input(type="text", name="id", value= user ? user.id : '', hidden)
							input(type='password', name='password1' class='form-control restore-pwd1', placeholder='New password', required, autofocus)
							input(type='password', name='password2' class='form-control restore-pwd2', placeholder='New password again', required)
						div.form-group
							button(class='btn btn-lg btn-primary btn-block', type='submit') Restore

				if message.length > 0
					div.alert.alert-danger.text-center(style={margin: "40px auto auto auto"})
						p #{message}