extends layout

block content
	div.container(style={"margin-top": "20px"})
		div.row
			div.col-sm-6.col-sm-offset-3.col-md-4.col-md-offset-4
				h1.text-center.login-title Sign up to Jama'ah
				div.account-wall
					form(class='form-signin', action='/signup', method='POST')
						div.form-group
							input(type='text', name='username' class='form-control signup-username', placeholder='Username', required, autofocus)
							input(type='password', name='password' class='form-control signup-pwd', placeholder='Password', required)
						div.form-group
							button(class='btn btn-lg btn-primary btn-block', type='submit') Sign up
					a(href='/signin', class='text-center new-account') I already have an account

				if message.length > 0
					div.alert.alert-danger.text-center(style={margin: "40px auto auto auto"})
						p #{message}
