extends layout

block content
	div.container(style={"margin-top": "20px"})
		center: img.img-rounded(src="/MainLogo.png", style={height: "160px", width: "auto", margin: "auto"})
		div.row
			div.col-sm-6.col-sm-offset-3.col-md-4.col-md-offset-4
				h1.login-title Jama'ah
				div.account-wall
					form(class='form-signin', action='/signin', method='POST')
						div.form-group
							input(type='text', name='username' class='form-control signin-username', placeholder='Username', required, autofocus)
							input(type='password', name='password' class='form-control signin-password', placeholder='Password', required)
						div.form-group
							button(class='btn btn-lg btn-primary btn-block', type='submit') Sign in
						if showRegistration == true
							span.clearfix
					if showRegistration == true
						a(href='/signup', class='text-center new-account') Create an account

				if message.length > 0
					div.alert.alert-danger.text-center(style={margin: "40px auto auto auto"})
						p #{message}