html, body
{
	height: 100%;
	margin: 0;
	padding: 0;
}

.form-settings
{
    padding: 15px;
    margin: 0 auto;
}

.form-signin
{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox
{
    margin-bottom: 10px;
}
.form-signin .checkbox
{
    font-weight: normal;
}
.form-signin .form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin .form-control:focus
{
    z-index: 2;
}
.form-signin .signin-username
{
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin .signin-password
{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.form-signin .restore-pwd1
{
		margin-bottom: -1px;
	  border-bottom-left-radius: 0;
	  border-bottom-right-radius: 0;
}
.form-signin .restore-pwd2
{
		margin-bottom: 10px;
	  border-top-left-radius: 0;
	  border-top-right-radius: 0;
}
.form-signin .signup-username
{
	margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;	
}
.form-signin .signup-pwd
{
	margin-bottom: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;		
/*  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
*/}
.form-signin .signup-email
{
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;	
}
.account-wall
{
    margin-top: 20px;
    padding: 40px 0px 20px 0px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.login-title
{
    color: #2e7bb3;
    font-size: 22px;
    font-weight: 600;
    display: block;
		text-align: center;
}
.general-wall
{
    margin-top: 20px;
    padding: 10px 10px 10px 10px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.profile-img
{
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.need-help
{
    margin-top: 10px;
}
.new-account
{
    display: block;
    margin-top: 10px;
}
.error-message
{
  color: red;	
}

.main-container
{
	padding-top: 60px;
	padding-bottom: 86px;
}

.footer
{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 66px;
	background-color: #222;
}

.disableClick
{
    pointer-events: none;
}

.reviewBlock
{
	margin-top: 15px;	
	margin-bottom: 20px;	
}
.reviewTitle
{
}

.reviewComment
{
	margin-top: 5px;
}

.reviewDate
{
	color: grey;
  font-size: 12px;
	margin-left: 10px;
}

.open>.dropdown-menu
{
    background-color: #222;
}

.dropdown-menu>li>a
{
    color: grey;
    text-decoration: none;
}

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover
{
    color: #fff;
    text-decoration: none;
    background-color: #222;
}


.dropdown-menu>li.active>a
{
  color: #fff;
  text-decoration: none;
  background-color: #080808;	
}

.dropdown-menu>li.active>a:focus, .dropdown-menu>li.active>a:hover
{
  color: grey;
  text-decoration: none;
  background-color: #080808;	
}